body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: font;
  src: url(fonts/Graphik-Regular-Web.woff2);
}
@font-face {
  font-family: font1;
  src: url(fonts/Graphik-Medium-Web.woff2);
}
@font-face {
  font-family: font2;
  src: url(fonts/Guardian-EgypTT-Light.woff2);
}

.font {
  font-family: font;
}
.font1 {
  font-family: font1;
}
.font2 {
  font-family: font2;
}
/* ===========
===========
.search-bar
===========
=========== */
.search-bar{
    padding: 12px 36px;

    padding-right: 34px;
    margin: auto;
    max-width: 1400px;

  }

  .search-bar .input-panel {
    display: block;
    border: 2px solid #222;
    justify-content: space-between;
    width: 100%;
    position: relative;

  border-radius: 96px;
  background: rgba(34, 34, 34, 0.05);
}
.input-panel .search {
  border: none;
  padding: 14.5px;
  padding-left: px;
  border-radius: 100px;
  width: 100%;
  background-color: transparent;
}
.input-panel .search::placeholder {
  font-size: 18px;
}
.input-panel .search:focus{
  border: none;
  outline: none;
}

.input-panel .search-btn {
  border: none;
  background-color: transparent;
  right: 10px;
  top: 10px;
  position: absolute;
}

.search-bar .left-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 32px;
}
.search-bar .left-icon span {
  font-size: 13px;
  font-family: font1;
  white-space: nowrap;
  margin-right: 21px;
}

.left-icon .sconed-icon {
  padding: 12px;
}
.left-icon .first-svg {
  padding: 12px;
}
.search-bar .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar .logo{
    padding-right:6px ;
   
}

.category{
    list-style:  none;
    max-width:1400px;
    display: flex;
    margin: auto;
    gap: 15px;
    justify-content: space-evenly;

}
