body{
    margin: 0;
    padding: 0;

}

*{
    margin: 0;
    padding: 0;

}
@font-face {
    font-family: font;
    src: url(font/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2);
}
@font-face {
    font-family: font1;
    src: url(font/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2);
}
@font-face {
    font-family: font2;
    src: url(font/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2);   
}
@font-face {
    font-family: font3;
    src: url(font/poppins-medium.yji-dc16a3592fdb61b620cc.woff2);
}
@font-face {
    font-family: font4;
    src: url(font/poppins-bold.yji-9690ce6275ddc5645cfa.woff2);
}

/* -------------------------------
===============================
===============================
        CONTAINER-ONE
===============================
===============================
------------------------------- */



.container-one .search-panel{
    display: flex;
    position: relative;
  
}

.container-one  .first-search input{
    width: 456px;
    height: 48px;
    padding: 13px 16px;
   border: none;


    /* border-right: 1px solid #6e7072;
     */
    outline: none;

}
.container-one  .first-search::after{
    content: "";
    width: 2px;
    height: 25px;
    background-color: #efefef;
    position: absolute;
    top: 12px;
    
}

.container-one  .second-search input{
    width: 456px;
    padding: 13px 16px;
    height: 48px;
  
    border: none;
   
}

.container-one .search-logo{
    width: 56px;
    height: 48px;
    background-color: #E00707;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-one .search-logo svg{
    color: white;
}

.container-one .search-bar-down li{
    display: flex;
    font-family: font;
    color: rgba(255,255,255,1); 
    font-family: font;
    padding: 16px 16px 20px;


}

.container-one .search-bar-down span{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.container-one .search-bar-down ul{
    display: flex;

}

.container-one .section-login-button p{
    font-size: 14px;
    /* font-weight: 600; */
    line-height: 20px;
    color: rgba(255,255,255,1);
    font-family: font;
    padding: 8px;
    

}

.container-one .section-login-button{
    display: flex;
    max-height: 42px;
}
.container-one .log-in{
    padding: 8px 16px;
    background-color: transparent;
    border:2px solid rgba(255,255,255,1);
    border-radius: 4px;
    color: rgba(255,255,255,1);

}
.container-one .log-in span{
    font-size: 16px;
    font-family: font3;
    line-height: 24px;
    margin-top: 1px;
}

.container-one .sign-up{
    padding: 8px 16px;
    margin: 0 0 0 12px;
    background-color: #E00707;
    border-radius: 6px;
    border: none;
    color: rgba(255,255,255,1);
    /* border: 2px solid #E00707; */
}

.container-one .sign-up span{
    font-size: 16px;
    font-family: font3;
    line-height: 24px;
    margin-top: 1px;
}

nav{
    display: flex;
    justify-content: space-between;
    max-height: 130px;
    padding-top:  24px;
    padding-inline: 40px;
}

.container-one .yelp-svg img{
    margin-right: 150px;
}


--------------------
drop down 
--------------------
.container-two{
    position: relative;
}

.container-two .inside{
    width: 10px;
    height: 90px;
    border-radius: 4px;
    position: relative;
    background-color:  #ffffff80;
    margin-bottom: 20px;
    /* margin: 250px; */
}
    



.container-two .inside span{
    width: 10px;
    height: 90px;
    position: absolute;
    border-radius: 6px;
    top: 0;
    background-color: #fff;
    animation: loop 2s infinite normal;
    animation-delay: 2s;

}

.container-two .on-two span{
   top: 0;
    
    animation: loop 2s infinite normal;
    animation-delay: 4s;
}

.container-two .on-three span{
    top: 0;
    animation: loop 2s infinite normal;
     animation-delay: 6s;
 
 }

.container-two .inside-container{

    height: 350px;
    position: relative;
    width: 48px;
}

/* .container-two .inside-container{
    height: 300px;
} */

@keyframes loop {
    0%{
        top: 0;
        height: 00%;

    }
    30%{
        top:0;
        height: 30%;
        background-color: #E00707;

    }
    60%{
        top: 0;
        height: 60%;
    }
    99%{
        top: 0;
        height: 100%;
    }
    100%{
        top:0;
        height: 0%;
    }
}

.container-two .side-container button{
    background-color: #E00707;
    border: none;
    padding: 12px 32px; 
    display: flex;
    align-items: center;
    color: rgba(255,255,255,1);
}
.container-two .side-container span{
    font-size: 16px;
    margin-left: 8px;

}

.container-two .side-container h1{
    font-size: 48px;
    color: rgba(255,255,255,1);
    font-family: font2;
    font-weight: 700;
}

.container-two{
    display: flex;
    width: 1124px;
    margin: auto auto;    
    max-width: 1124px;
    padding-top: 64px;
 
}

.container-two .side-container{
    width: 450px;
    
}

.container-three .container-end{
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    width: 1100;
    margin-top: 40px;
    padding-bottom: 100px;
    
    margin: auto auto;
}
.container-three .container-end span{
    font-size: 14px;
    color: #fff;
    font-family: font2;
}
.container-three .container-end  p{
    font-size: 14px;
    color: #fff;
    font-family: font;
}

.banner-container{
    animation: banner 12s infinite;
    background:linear-gradient(90deg,#0006,#0000001a 56%);
    animation-delay: 200ms;

    z-index: 0;

}

@keyframes banner {
    0%{
        background: url(assets/yelp1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      
        
    }
    33.33%{
        background: url(assets/yelp1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      
        
 
     
    }
    33.34%{
        background: url(assets/yelp2.jpg);
        background-repeat: no-repeat;
        background-size: cover;

     
    }
    66.63%{
        background: url(assets/yelp2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
   
    }
    66.64%{
        background: url(assets/yelp3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
     
       
    }
    100%{
        background: url(assets/yelp3.jpg);
        background-repeat: no-repeat;
        background-size: cover;

     
    }
}

.card-container{

    border: 1px solid #ebebeb;
    height: 376px;
    /* padding: 16px 24px; */
    width: 359px;

   
}

.post-img{
    background: url(assets/card-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -72px;
    width: 100%;
    height: 200px;

}
.one-post-img{

background: url(assets/superimg-1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center -72px;
width: 100%;
height: 200px;

}

.card-container .profile-pic img{

    border-radius: 50%;

}
.profile-name span{
    font-size: 14px;
    font-family: font1;
    color: #2e2d2f;
}

.profile-name p{
    font-size: 14px;
    font-family: font;
    color: #2e2d2f;
}

.card-container .user-profile{
    display: flex;
   padding: 12px 24px;
   gap: 10px;
}
 .card-container .post-text{
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font1;
    margin-bottom: 5px;
    padding-left: 24px;

 }

 .card-container  .thumbs-svg{
    margin-top: 30px;
    padding-left: 19px;
 }


 /* -------------
 CARD two
 ------------- */

 .post-img-one{
    background: url(assets/starimg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-three{
    background: url(assets/starimg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-four{
    background: url(assets/starimg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-five{
    background: url(assets/starimg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-two{
    background: url(assets/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-two{
    background: url(assets/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
.post-img-two{
    background: url(assets/cake.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -162px;
    width: 100%;
    height: 92px;

}
 .sub-container .item-name {
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font1;
    margin-bottom: 5px;



}
.sub-container .read {
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font;
    margin-bottom: 5px;
    


}
.sub-container .text-contents-last p{
    font-size: 14px;
    color: #2e2d2f;
    letter-spacing: 0;
    text-align: left;
    font-weight: 400;
 
    line-height: 20px;
    font-family: font;
}
.sub-container .all-star-svgs{
 
    padding-top: 8px;
    padding-bottom: 8px;

}

.sub-container .text-contents-last{
  border-right: 2px solid #ebebeb;
  padding-bottom: 10px;
}

.card-container .sub-container {
    padding: 24px;
    width: 309px;
    display: flex;
    flex-direction: column;
}
.feedback-svgs{
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    width: 180px;
    padding-top: 10px;
}
.third-card .text-container-three span{
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font1;
    margin-bottom: 5px;
    padding-left: 24px;
    


}
.card-container .flex-images{
    display: flex;
  margin-inline: 10px;
  gap: 15px;
  width: 100%;
  margin: auto;
  justify-content: space-around;
  margin-top: 15px;

 
}
.flex-images .first-image img{

    width: 155px;
    height: 168px;
}

.flex-images .first-image{
    display: flex;
    flex-direction: column;
}

.flex-images .second-image{
    display: flex;
    flex-direction: column;
}

.flex-images .second-image img{

    width: 155px;
    height: 168px;
}

.card-container .extra-photos p{
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font1;
    margin-bottom: 5px;
    padding-left: 24px;
    margin-top: 55px;


}

.container-four{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1180px;
    margin: auto;

}

.container-four .card-container{
    margin-top: 32px;
} 


.top-text-four{
    text-align: center;
    font-size: 21px;
    color: rgba(45,46,47,1);
    font-family: font4;
    padding-top: 56px;

}
.container-five span{
    color: #027A97;
    font-size: 14px;
    line-height: 20px;
    font-family: font1;
}

.container-five .activity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1220px;
    padding:50px 0;
    margin: auto;
}
.footer-one .catagory-card-image span {
    color: #2e2d2f;
    font-size: 16px;
    line-height: 24px;
    font-family: font2;

}
.footer-one .catagory-card-image {
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 183;
    border: 1px solid #ebebeb;
    justify-content: center;
    gap: 5px;
    align-items: center;
    
}
.footer-one .catagory-card-image img{
    width: 40px;
    height: 40px;
}

.footer-one .total-catagory-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 48px;

    margin: auto;
    row-gap: 40px;
    max-width: 1200px;
}

.footer-one h2{
    text-align: center;
    font-family: font3;
    font-size: 28px;
  
    margin: auto;
    margin-bottom: 40px;
    padding-top: 48px;

}
.total-footer-list  li{
   list-style: none;
   color: #6e7072;
   font-size: 14px;
   margin-bottom: 8px;
   font-family: font;
   font-weight: 400;

}
.footer-two .total-footer-list {
    display: flex;
    max-width: 1220px;
    width: 100%;
    margin: auto;
    padding-left: 30px;
}
.footer-two .total-footer-list ul{
    

    
    width: 320px;
}
.footer-fourth-list{
    margin-left: 93px;
}
.total-footer-list li:first-child{
    color: #2e2d2f;
    font-size: 16px;
    margin-bottom: 16px;
    font-family: font2;

}
.footer-fourth-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-two {
    padding: 60px 0;
}

.footer-two .bottom-text img{
    width: 39px;
    height: 18px;
    padding-top: 8px;
}
.footer-two .bottom-text .leaf {
    width: 17px;
    height: 15px;

}
.footer-two .bottom-text{
    max-width: 1220px;
    margin: auto;
    margin-top: 48px;
    font-size: 12px;
    line-height: 18px;
    font-family: font;
    color: #6e7072;
    display: flex;
    align-items: center;
    
}
.footer-two{
    background-color: #F7F7F7;
}
hr{
    height: 1px;
    opacity: 0.3;
}

